<div class="tableouter">
    <section class="header-input">
      <div class="section_header">
        <h1>CATEGORIES</h1>
      </div>
      <div class="newbutton-textbox">
        <div class="addnew-button">
            <button [routerLink]="['add']" mat-raised-button color="basic" class="">Add Category</button>
        </div>
        <div class="textbox-outer">
          <!-- <input type="text" [(ngModel)]="filterString" (keyup)="filterSudent()"> -->
          <!-- <span>search string</span> -->
        </div>
      </div>
    </section>
    <section class="section_table" *ngIf="allCategories">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>URL Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of allCategories">
          <td>{{category.name}}</td>
          <td>{{category.urlHandle}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>